@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: sans-serif;
}

.container {
  position: relative;
}
header {  
  text-align: center; 
  font-family: 'Rubik Vinyl', cursive, sans-serif;
}

.board {
  margin: 0 auto;
  width: 100vw;
  max-width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
}

.board--box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.playersbutton {
  /* position: absolute; 
  top: 0;   */
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;  
  /* border: 1px solid blue; */
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  top: 20px;
  width: 100vw;

  /* width: 350px;
  height: 350px; */
}

button {
  padding: 10px 20px;
  width: 200px;
  height: 70px;
  font-family: 'Rubik Vinyl', cursive, sans-serif;
  border-radius: 10px;
}