body {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  text-align: center;  
}

.board {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.board--box {
  border: 1px solid green;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid blue;
  ;
}