@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik+Vinyl&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: 'Rubik Vinyl', cursive, sans-serif;
}

.container {
  position: relative;
}
header {  
  text-align: center; 
  
}

.message {  
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 1em;
  line-height: 3em;
}

.board {
  margin: 0 auto;
  width: 100vw;
  max-width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
}

.board--box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.board--box:hover{
  background-color: #4CAF50;
  color: white;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;  
  /* border: 1px solid blue; */
  flex-direction: column;
  row-gap: 10px;
  /* position: absolute;
  top: 20px;
  width: 100vw; */
  margin-top: 10px;
  /* width: 350px;
  height: 350px; */
}

button {
  /* padding: 10px 20px; */
  width: 200px;
  height: 70px;
  font-family: 'Rubik Vinyl', cursive, sans-serif;
  border-radius: 10px;
}

button:hover {
  background-color: #34495e;
  color: #fff;
}

button:focus {
  background-color: #34495e;
}

.cellbox {
  margin: 0 auto;
  width: 100vw;
  max-width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
}

.cells {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cells:hover {
  background-color: #4CAF50;
  color: white;
}

/* LOGIN FORM CSS */
.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}

/* REG FORM CSS */
.reg-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.reg-form > div {
  margin: 8px;
}

.reg-form > div > label {
  font-weight: bold;
}

.reg-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.reg-form > div > input:focus {
  outline: 0;
}

.reg-form > div > button {
  background-color: #62807e;
}

.reg-form > p {
  font-family: 'Play', sans-serif;
  /* font-family: 'Rubik Vinyl', cursive, sans-serif; */
}

/* HORIZONTAL LINE WITH CENTERED TEXT */

.hrline {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.hrline > span {
  position: relative;
  display: inline-block;
  font-family: 'Play', sans-serif;
}

.hrline > span:before,
.hrline > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 25vw;
  height: 1px;
  background: black;
}

.hrline > span:before {
  right: 100%;
  margin-right: 15px;
}

.hrline > span:after {
  left: 100%;
  margin-left: 15px;
}

.msgLogIn, .msgReg{
  font-family: 'Play', sans-serif;
  text-align: center;
}

/* LOBBY */
.lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-createroom {
  padding: 0;
  width: 100px;
  height: 20px;
  font-family: 'Play', sans-serif;
  border-radius: 5px;
}

.table-container {
  font-family: 'Play', sans-serif;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-weight: 100;
  /* position: absolute;
	top: 50%;
	left: 50%; */
	transform: translate(0,0);
}

table {
  
  margin: 0 auto;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  
}

thead {
  background-color: #55608f;
  font-family: 'Rubik Vinyl', cursive, sans-serif;
}

th {
  /* border: 1px solid rgb(190, 190, 190); */
  padding: 10px;  
}

th, td {
  /* background-color: rgb(235, 235, 235); */
  max-width: 150px;
  max-height: 50px;
  text-align: left;
  background-color: rgba(255,255,255,0.2);
	color: #fff;
}

tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}

tbody td {
  position: relative;
}

tbody td:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}

td {
  text-align: center;
}
/* 
tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
} */


.btn-joinroom, .btn-play, .btn-close, .btn-leave {
  display: inline-block;
  font-family: 'Play', sans-serif;
  font-family: 'Rubik Vinyl', cursive, sans-serif;
  width: 55px;
  height: 30px;    
  padding: 0;
  background-color: inherit;
  font-weight: inherit;
  color: inherit;
}

